.galleryWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.gridContainer {
  composes: container from "../../css/app.css";
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.loadingArea {
  height: 300px;
  text-align: center;
  padding: 3rem;
}
