html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-width: 100vw;
}

select {
  appearance: none;
  border: none;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M207.029%20381.476L12.686%20187.132c-9.373-9.373-9.373-24.569%200-33.941l22.667-22.667c9.357-9.357%2024.522-9.375%2033.901-.04L224%20284.505l154.745-154.021c9.379-9.335%2024.544-9.317%2033.901.04l22.667%2022.667c9.373%209.373%209.373%2024.569%200%2033.941L240.971%20381.476c-9.373%209.372-24.569%209.372-33.942%200z%22%2F%3E%3C%2Fsvg%3E"),
    #dfdfdf;
  background-repeat: no-repeat, repeat;
  background-position: right 0.5em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  transition: 0.2s ease box-shadow;
  min-width: 6rem;
}

input[type="text"] {
  border: 1px solid #dfdfdf;
  transition: 0.2s ease border, 0.2s ease background-color, 0.2s ease box-shadow;
  background-color: #dfdfdf;
}

select:hover {
  box-shadow: 0 0 0 1px #888;
}

select,
input[type="text"] {
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border: 1px solid #888;
}

input[type="text"]:focus {
  background-color: white;
}

input[type="text"]:focus:hover {
  box-shadow: 0 0 0 3px #dfdfdf;
}

.container {
  padding: 0 1.5rem;
}

.flex {
  display: flex;
}

.alignItemsBaseline {
  align-items: baseline;
}

.flexBaseline {
  composes: flex alignItemsBaseline;
}

.flexFixed {
  flex: 0 0 auto;
  padding-left: 0.5rem;
  border-left: 1px solid #dfdfdf;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.mr1 {
  margin-right: 0.5rem;
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 1rem;
  }

  input[type="text"].searchBox {
    width: 100%;
    border-radius: 0.875rem;
  }
}
