.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav > li {
  padding: 0.75rem 0.5rem;
  transition: 0.2s ease border-bottom;
}

.nav > li:not(:last-child) {
  margin-right: 1rem;
}

.nav > li.active {
  border-bottom: 2px solid black;
}

.nav > li.active > button,
.nav > li > button:hover {
  opacity: 1;
}

.nav > li > button {
  border: unset;
  background: unset;
  padding: 0;
  cursor: pointer;
  transition: 0.2s ease opacity;
  opacity: 0.6;
  font-weight: 550;
}
